<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ru.luli.TestDecompiler">
    <uses-sdk android:minSdkVersion="15"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name="ru.luli.TestDecompiler.TestDecompiler"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="ru.luli.admin.ClassesEditor" android:label="@string/classes"/>
        <activity android:name="ru.luli.admin.ScheduleEditor" android:label="@string/shedules"/>
        <activity android:name="ru.luli.admin.ScholarsEditor" android:label="@string/scholars"/>
        <activity android:name="ru.luli.admin.PersonEditor" android:label="@string/scholars"/>
        <activity android:name="ru.luli.scholar.TestInfo" android:label="@string/scholars"/>
        <activity android:name="ru.luli.scholar.TestAllWorld" android:label="@string/scholars"/>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>
